<!doctype html>
<html>
<head>
<link rel="icon" HREF="img/favicon.ico" type="image/x-icon">
<title>white board</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0" />
<link type="text/css" rel="stylesheet" href="/css/base.css" />
<link type="text/css" rel="stylesheet" href="/css/common.css" />
<link type="text/css" rel="stylesheet" href="/widget/colorPicker/css/tccColorPicker.css" />
<link type="text/css" rel="stylesheet" href="/css/whiteboard.css" />
</head>
<body>
  <div id="sys_msg"></div>
  <div id="online_users"></div>
  <div id="nickname">
    <form id="set_nickname">
      <p>Please type in your nickname and press enter.</p>
      <input type="text" id="nick">
      <p id="nickname_err">Nickname already in use.</p>
    </form>
  </div>
  <div id="whiteboard">
    <div class="canvas">
      <canvas id="canvas_o"></canvas>
      <canvas id="canvas_t" style="position: absolute; top: 0px; left: 0px;"></canvas>
    </div>
    <textarea id="font_textarea"></textarea>
    <div class="wbToolbarWrap">
      <ul class="wb_toolbar">
        <li id="sketch" class="wb_btn wb_icon_btn wb_btn_sketch"></li>
        <li id="line" class="wb_btn wb_icon_btn wb_btn_line"></li>
        <li id="rectFrame" class="wb_btn wb_icon_btn wb_btn_rectFrame"></li>
        <li id="rectFilled" class="wb_btn wb_icon_btn wb_btn_rectFilled"></li>
        <li id="ovalFrame" class="wb_btn wb_icon_btn wb_btn_ovalFrame"></li>
        <li id="ovalFilled" class="wb_btn wb_icon_btn wb_btn_ovalFilled"></li>
        <li id="font" class="wb_btn wb_icon_btn wb_btn_font"></li>
        <li id="eraser" class="wb_btn wb_icon_btn wb_btn_eraser"></li>
        <li id="lineWidth" class="wb_btn wb_icon_btn wb_btn_lineWidth"></li>
        <li id="color" class="wb_btn wb_icon_btn wb_btn_color"></li>
        <li id="undo" class="wb_btn wb_icon_btn wb_btn_undo"></li>
        <li id="wb_save" style="display: none;">Save</li>
        <li id="wb_clear" style="display: none;">Clear</li>
        <li id="wb_cancel" style="display: none;">Clear</li>
      </ul>
    </div>
    <div id="font_menu" class="wb_toolbar_menu">
      <div>
        <div>
          <select id="font_family">
            <option value="Arial Black">Arial Black</option>
            <option value="Comic Sans MS">Comic Sans MS</option>
            <option value="Courier">Courier</option>
            <option value="System">System</option>
            <option value="Times New Roman">Times New Roman</option>
            <option value="Trebuchet MS">Trebuchet MS</option>
            <option value="Verdana">Verdana</option>
          </select>
        </div>
        <div>
          <select id="font_size">
            <option value="10">10</option>
            <option value="12">12</option>
            <option value="14">14</option>
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
            <option value="22">22</option>
            <option value="24">24</option>
            <option value="26">26</option>
            <option value="28">28</option>
            <option value="30">30</option>
          </select>
          <ul>
            <li id="font_boldBtn">B</li>
            <li id="font_italicBtn">I</li>
            <li id="font_underlineBtn">U</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="line_width" class="wb_toolbar_menu">
      <div class="lw_bar" id="lw_1">
        <div></div>
      </div>
      <div class="lw_bar" id="lw_3">
        <div></div>
      </div>
      <div class="lw_bar" id="lw_5">
        <div></div>
      </div>
      <div class="lw_bar" id="lw_8">
        <div></div>
      </div>
    </div>
    <div class="wb_mask"></div>
  </div>
  <div id="toolbar">
    <button id="clear_wb">Clear</button>
    <button id="save_img">Save</button>
  </div>
  <div id="wb_images"></div>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/libs/jquery-1.7.2.min.js"></script>
  <script TYPE="text/javascript" SRC="/js/libs/tccCommon-jquery.js"></script>
  <script TYPE="text/javascript" SRC="/js/libs/tccWidgetBase.js"></script>
  <script TYPE="text/javascript" SRC="/widget/colorPicker/js/tccColorPicker.js"></script>
  <script type="text/javascript" src="/js/wb/base64.js"></script>
  <script type="text/javascript" src="/js/wb/canvas2image.js"></script>
  <script type="text/javascript" src="/js/wb/wbUtil.js"></script>
  <script type="text/javascript" src="/js/wb/wbUndoManager.js"></script>
  <script type="text/javascript" src="/js/wb/wbProcessor.js"></script>
  <script type="text/javascript" src="/js/wb/whiteboard.js"></script>
  <script type="text/javascript" src="/js/wb/wbMsgClient.js"></script>
  <script type="text/javascript" src="/js/wb/wb.js"></script>
</body>
</html>

