.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

[class^="wb-icon-"],[class*="wb-icon-"] {
  display: inline-block;
  width: 35px;
  height: 33px;
  margin-top: 1px;
  *margin-right: .3em;
  vertical-align: text-top;
  background-position: center;
  background-repeat: no-repeat;
}

.wb-icon-sketch {
  background-image: url(../img/sketch.png);
}

.wb-icon-selected {
  background-color: red;
}

.wb-icon-sketch {
  background-image: url(../img/sketch.png);
}

.wb-icon-line {
  background-image: url(../img/line.png);
}

.wb-icon-rectFrame {
  background-image: url(../img/rectFrame.png);
}

.wb-icon-rectFilled {
  background-image: url(../img/rectFilled.png);
}

.wb-icon-ovalFrame {
  background-image: url(../img/ovalFrame.png);
}

.wb-icon-ovalFilled {
  background-image: url(../img/ovalFilled.png);
}

.wb-icon-font {
  background-image: url(../img/font.png);
}

.wb-icon-picture {
  background-image: url(../imgpicture.png);
}

.wb-icon-eraser {
  background-image: url(../img/eraser.png);
}

.wb-icon-color {
  background-image: url(../img/color.png);
}

.wb-icon-undo {
  background-image: url(../img/undo.png);
}

.wb-icon-lineWidth {
  background-image: url(../img/lineWidth.png);
}

.wbCanvas {
  width: 1070px;
  height: 432px;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -o-box;
  -o-box-orient: horizontal;
  -o-box-pack: center;
  -o-box-align: center;
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

#line_width {
  width: 120px;
}

#line_width .lw_bar {
  height: 25px;
  margin: 2px 0;
  background-color: #8EA7BF;
  cursor: pointer;
  border: 1px solid #4F9EE8
}

#line_width .lw_bar:hover {
  background-color: #DCE6E8;
}

#line_width .lw_bar.selected {
  background-color: #DCE6E8;
}

#lw_1>div {
  height: 1px;
  background-color: #0E6BC2;
  position: relative;
  top: 12px;
}

#lw_3>div {
  height: 3px;
  background-color: #0E6BC2;
  position: relative;
  top: 11px;
}

#lw_5>div {
  height: 5px;
  background-color: #0E6BC2;
  position: relative;
  top: 10px;
}

#lw_8>div {
  height: 8px;
  background-color: #0E6BC2;
  position: relative;
  top: 8px;
}